.form-group.required .control-label:after {
    content:"*";
    color:red;
}

/* .progress {
    position: relative;
    height: 15px;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    font-size: 8pt;
    text-align: center;
 } */