
.logo-lg {
    font-family: 'Oswald', 'Meiryo', sans-serif;
    font-style: normal;
    font-weight: 300;
    size: 25px;
    line-height: 54px;
    color: #ffffff;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', 'Meiryo', sans-serif;
    font-style: normal;
    font-weight: 400;
    size: 30px;
    color: #253b4a;
}

table thead tr th {
    font-family: 'Oswald', 'Meiryo', sans-serif;
    font-style: normal;
    font-weight: 400 !important;
    size: 12px;
    color: #666666 !important;
}

table tfoot tr th {
    font-family: 'Oswald', 'Meiryo', sans-serif;
    font-style: normal;
    font-weight: 400 !important;
    size: 12px;
    color: #666666 !important;
}

table tbody tr td {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    size: 12px;
    color: #292929;
}

.dataTables_length, .dataTables_filter, .dataTables_info, .pagination {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    size: 12px;
    color: #292929;
}